
<h1>Welcome to CSE motors!</h1>

<div class="hero">
    <img src="/images/vehicles/delorean.jpg" alt="motor car">
    <div class="dmc__delorean">
        <h3>DMC Delorean</h3>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy</p>
        <img src="/images/site/own_today.png" alt="own today">
    </div>
</div>
<div class="section__delorean">
    
    <h2 class="delorean-title">Delorean Upgrades</h2>
    <div class="delorean__upgrades">

        
        
        <div class="card">
            <img src="/images/upgrades/flux-cap.png" alt="flex capacitor">
            <p><a href="#">Flux Capacitor</a></p>
        </div>

        <div class="card">
            <img src="/images/upgrades/flame.jpg" alt="flame">
            <p><a href="#">Flame Decals</a></p>
        </div>

        <div class="card">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper">
            <p><a href="#">Bumper Stickers</a></p>
        </div>

        <div class="card">
            <img src="/images/upgrades/hub-cap.jpg" alt="hub">
            <p><a href="#">Hub Caps</a></p>
        </div>
        
    </div>


    <div class="delorean__reviews">
        <h2 class="delorean-title">DMC Delorean Reviews</h2>
        <ul>  
            <li>"So fast it's almost like travelling in time" (4/5)</li>
            <li>"Coolest ride on the road" (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day"(4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>

</div>